<h1 class="page-header">Clean Orders</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>status</th>
      <th>date</th>
      <th>clean plan</th>
      <th>start</th>
      <th>end</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @clean_orders.each do |cl_o| %>
      <tr>
        <td><%= order_status_label(cl_o) %></td>
        <td><%= cl_o.date %></td>
        <td><%= cl_o.clean_plan.name %></td>
        <td><%= start_time cl_o %></td>
        <td><%= end_time cl_o %></td>
        <td class='text-right'><%= link_to 'Show', operator_clean_order_path(cl_o), class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
