<!DOCTYPE html>
<html>
  <head>
    <title>Kaji2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body>
    <%= render header %>
    <div class="container">
      <%= display_flash %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
