<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="Close">
          <%= fa_icon 'times' %>
        </button>
        <h2 class="modal-title"><%= fa_icon 'pencil', text: 'Irregular Off Form' %></h2>
      </div>
      <div class="modal-body">
        <%= form_tag(operator_irregular_offs_path, id: 'create-form', method: :post, remote: true, class: 'form-horizontal') do %>
          <%= hidden_field_tag 'irregular_off[staff_id]', staff.id %>
          <div class="form-group">
            <%= label_tag 'irregular_off[date]', 'Start', class: 'col-sm-3' %>
            <div class="col-sm-9">
              <%= text_field_tag 'irregular_off[date]', Time.current, class: 'form-control', data: { provide: 'datepicker', 'date-format' => 'yyyy/mm/dd' } %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag 'irregular_off[start_at]', 'Start', class: 'col-sm-3' %>
            <div class="col-sm-9">
              <%= select_tag 'irregular_off[start_at]', options_from_collection_for_select(ShiftTime.all, 'id', 'time'), class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag 'irregular_off[end_at]', 'End', class: 'col-sm-3' %>
            <div class="col-sm-9">
              <%= select_tag 'irregular_off[end_at]', options_from_collection_for_select(ShiftTime.all, 'id', 'time'), class: 'form-control' %>
            </div>
          </div>
          <div class="text-center">
            <%= submit_tag 'Submit', class: 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
