<h1 class="page-header">Staffs</h1>
<div class="text-right">
  <%= link_to 'Add', new_operator_staff_path, class: 'btn btn-success' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>email</th>
      <th>phone</th>
      <th>state</th>
      <th>city</th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= gender_label(staff.gender) %> <%= staff.name %></td>
        <td><%= staff.age %></td>
        <td><%= staff.email %></td>
        <td><%= staff.phone %></td>
        <td><%= staff.state %></td>
        <td><%= staff.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>
