<%= display_errors @staff, Staff::PERMITTED_ATTRIBUTES, title: '入力内容にエラーがあります。' %>
<h1 class="page-header">Add Staffs</h1>
<%= form_for @staff, url: operator_staffs_path, html: { class: 'form-horizontal' } do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <span class="fa fa-user" aria-hidden="true"></span>
        Personal
      </h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :gender_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <% Gender.all.each do |g| %>
            <div class="radio-inline">
              <%= f.radio_button :gender_id, g.id %><%= g.name %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :age, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.select :age, ((18..100).map {|i| [i, i] }), { prompt: '-- Please Enter --' }, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :name, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :birthday, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.text_field :birthday, class: 'form-control', value: '1991/01/01', data: { provide: 'datepicker', 'date-format' => 'yyyy/mm/dd' } %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.email_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :phone, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.text_field :phone, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :zip, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.text_field :zip, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :state, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.text_field :state, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.text_field :city, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :street, class: 'col-sm-3 control-label' %>
        <div class="col-sm-6">
          <%= f.text_field :street, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <span class="fa fa-sticky-note" aria-hidden="true"></span>
        Regular Shift
      </h2>
    </div>
    <div class="panel-body">
      <%= f.fields_for :regular_shift, @staff.regular_shift || RegularShift.new do |rs_f| %>
        <% RegularShift::DAY_OF_WEEKS.each do |day| %>
          <div class="form-group">
            <%= rs_f.label :"#{day}", class: 'col-sm-3 control-label' %>
            <div class="col-sm-3">
              <%= rs_f.select :"#{day}_start", ShiftTime.all.map { |st| [st.time, st.time] }, { prompt: '-- Select From Time --' }, class: 'form-control' %>
            </div>
            <div class="col-sm-3">
              <%= rs_f.select :"#{day}_end", ShiftTime.all.map { |st| [st.time, st.time] }, { prompt: '-- Select To Time --' }, class: 'form-control' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit 'Submit', class: 'btn btn-success' %>
  </div>
<% end %>
