<%= javascript_include_tag 'staff_shift_calendar' %>
<h1 class="page-header"><%= @staff.name %></h1>
<div class="text-right">
  <%= link_to 'Edit', edit_operator_staff_path(@staff), class: 'btn btn-success' %>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <%= fa_icon 'user', text: 'Profile' %>
    </h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped short">
      <tr>
        <th>Gender</th>
        <td><%= @staff.gender.name %></td>
      </tr>
      <tr>
        <th>Age</th>
        <td><%= @staff.age %></td>
      </tr>
      <tr>
        <th>Birthday</th>
        <td><%= @staff.birthday %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @staff.email %></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><%= @staff.phone %></td>
      </tr>
      <tr>
        <th>Zip</th>
        <td><%= @staff.zip %></td>
      </tr>
      <tr>
        <th>State</th>
        <td><%= @staff.state %></td>
      </tr>
      <tr>
        <th>City</th>
        <td><%= @staff.city %></td>
      </tr>
      <tr>
        <th>Street</th>
        <td><%= @staff.street %></td>
      </tr>
    </table>
  </div>
</div>
<div class="text-right">
  <%= link_to 'create', '#create_modal', class: 'btn btn-warning', data: { toggle: 'modal' } %>
</div>
<%= content_tag :div, '', id: 'calendar', data: { shifts: @staff.regular_shifts_json } %>

<%# form %>

<%= form_tag api_staff_schedules_path, id: 'refresh-form', method: :get, remote: true do %>
  <%= hidden_field_tag :staff_id, @staff.id %>
  <%= submit_tag '', style: 'display: none;' %>
<% end %>

<%= form_tag operator_irregular_off_path, id: 'delete-form', method: :delete, remote: true do %>
  <%= submit_tag '', style: 'display: none;' %>
<% end %>

<%# modal %>

<%= render 'create_modal', staff: @staff %>
